# dependencies/dev env
node_modules
dist
dist-dev
builds/*
.env
output/
output
**/.svelte-kit/**

# nginx docker files
dockerfiles/nginx/logs
dockerfiles/nginx/keys.json

# db docker files
dockerfiles/db/

# deployment files
environment/prod/*.env

# ide
.idea/
